@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');

:root {
  font-family: "JetBrains Mono", "Fira Code", "IBM Plex Mono", "Consolas", monospace;
  line-height: 1.5;
  font-weight: 400;
  color: #a0e0a0;
  background-color: #2c3a2e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
